
header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

/*Corpo*/
body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    width:100%;
}

.principal{
	padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;

}

.titulo-principal {
    text-align: center;
    font-size: em;
    margin: 0 0 1em;
	clear: left;
}
.titulo-principal:before {
    content: "[";
}

.titulo-principal:after {
    content:"]"
}

.titulo-principal:first-letter {
    font-weight: bold;
}

p:first-line {
    font-style: italic;
}

.principal p {
	margin: 0 0 1em;
	
}

.principal strong {
    font-weight: bold;
}

.principal em {
	font-style: italic;
	
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.itens {
    line-height: 1.5;
}
itens:before {
    content: "★"
}
.itens:first-child {
    font-weight: bold;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
	display: inline-block;
	vertical-align: top;

}

.imagembeneficios {
	width: 60%;
	opacity: 0.3;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagembeneficios:hover {
    opacity: 1;
}

.utensilios {
	
	width: 15%;
	float: left;
	margin: 0 20px 20px 0;
}

.video {
    margin: 2em auto;
}
.mapa {
	padding:3em 0;
	background: linear-gradient(#FEFEFE, #888888);

}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}
/*Rodape*/
footer {
	text-align: center;
	background: url("/img/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}
@media screen and (max-width: 480px) { 
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
	}
	
	h1 {
		text-align: center;
	}
	nav {
		position:static;
	}
	.lista-beneficios, imagem-beneficios {
		width: 100%
	}
}